/* Barebones Compass block styles
 *
 * General block styles
 */
.directions{
  padding-bottom: 13px!important;
  margin-top: 0;
}
.most-popular-tab{
  display: none;
  opacity: 1;
  transition: opacity .6s linear;
  &.hidden-tab{
    opacity: 0;
  }
  &.shown{
    display: block;
  }
  .sidebar-ul{
    &:first-child{
      width: 280px;
    }
    a{
      width: 100%;
    }
    .icon-table-arrow {
       position: static;
      margin-left: 3px;
      margin-right: 1px;
      opacity: .5;
      transform: scale(.8);
    }
  }
}
.all-directions-tab{
  opacity: 1;
  transition: opacity .6s linear;
  &.hidden-tab{
    opacity: 0;
  }
  &.shown{
    display: block;
  }
}

