.main-content {


}
header {
    height: 80px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
     color: #1ad9ff;
    cursor: pointer;
    &:hover {
        color: #5bf9ff;
    }
    &:active {
        color: #0096d4;
    }
}
    .clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear:both;
}


.first-time{
    margin-left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #b0524a      0%, #97077f      100% )!important;
    overflow: hidden;
}
.descr{
    float: left;
    margin:0px 30px;
    max-width: 525px;
    width: 65%;

}
@media screen and (max-width: 1070px){
    .descr{
        margin: 0 25px ;
    }
}
.text-inserts .descr {
    width: auto;
}
.text-inserts{
    width: 90%;
    max-width: 770px;
    height: 115px;
    margin: 40px 30px;
    background: linear-gradient(to right, #520a60 0%, #100d42 100% )!important;
    border-left: solid 4px #b90590;
}
.text-inserts img{
    float: left;
    margin: 20px 30px;
}
.descr span{
    font-weight: 700;
    font-size: 30px;
}
.text-inserts-instructions{
    width: 100% !important;
    background: linear-gradient(to right, #0f2e5f   0%, #0d0f42  100% )!important;
    border-left: solid 4px #1ad9ff;
    margin-left: 40px;
    h2{
        float: right;
        margin-top: 30px;
    }
    .descr{
        width: 70%;
        max-width: 100%;
    }
}

.links{
    margin: 20px 49px;
}
.tabs{
    margin-top: 24px !important;
    margin-bottom: 10px !important;
    position: relative;
    ul{
        width: 280px;

    }
    li{
        float: left;
        list-style: none;
        display: inline-block;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 13px;
        transition: all 0.5s;
        border-bottom: #262655 1px solid;
        padding-right: 31px;
        margin: 0;
        padding-bottom: 10px;
    }
}
.purple-line {
    height: 1px;
    width: 130px;
    position: absolute;
    background: linear-gradient(to right, #c35189     0%, #7d0565     100% )!important;



}
.blue-line {
    height: 1px;
    width: 69px;
    position: absolute;
    background: linear-gradient(to bottom, #8effac      0%, #8effac      100% )!important;
    top: 44px;
    left: 0px;


}
.gray-line{
    width: 100%;
    color: white;
    height: 1px;
}
.navbar {
    float: left;
    margin: 17px 0 17px 30px;
}
.register {
    width: 80%;
    margin: 20px 40px;
    position: relative;
    margin-bottom: 10px;
    li:first-child{
        padding-right: 34px;
    }
    li {
        border-bottom: #262655 1px solid;
        padding: none;
        display: inline-block;
        float: left;
        font-family: Open Sans;
        a{
            color: #7ab0db;

            &:hover{
             color: #fff;
            }
        }
    }
}
.header-index-top{
    margin-top: 26px;
    margin-left: 30px;
}
.authorization{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    .enter{
        display: inline-block;
        margin-right: 20px;
    }
    .btn{

    }
}
@media screen and (max-width: 1074px) {
    .authorization{
        margin-right:27px;

    }
}
.bg-img{
    position: absolute;
    top: 100px;
    left: -260px;
    opacity: 0.5;
    z-index: -1;
}
.active-header{
    border-bottom: 1px solid black;
    background: #0b0b36;
}
.about-text{
    float: left;
    margin-left: 30px;
    max-width: 653px;
    color: #aab0c3;
    font-weight: 400;
}
.advantages{
    margin-left: 30px;
    margin-top: 35px;
}
.advantages-item{
    float: left;
    margin-right: 7%;
    max-width: 600px;
    a{
        display: block;
        line-height: 17px;
    }
    span{

    }

}
.about-descr{
    margin-top: 30px;
}
.first-item{
    width: 130px;
}
.second-item{
    width: 150px;
}
.third-item{
    width: 190px;
}
.icon-exchange-big-icon, .icon-popularity-icon, .icon-reliability-icon{
    display: inline-block;
    float: left;
    margin-right: 5px;


}
.icon-popularity-icon{

}
.user-place{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #f1f1f1;
    float: right;
    margin: 15px 40px;
}


.datepicker{
    position: absolute;
    z-index: 9000;
    left: 800px;
    &first-child {
        left: 700px;
    }

}

@media screen and (max-width: 1100px){
    .nav-lined{
        display: none;
    }
    .dropdown-nav{
        display: block;
    }
}
.active-link{
    color: #fff !important;
}
#chart_div{
    margin-top: 70px;
}
#calendar{
    position: absolute;
    width: 708px;
    top: 27px!important;
    left: -596px!important;
}
.daterangepicker-differences {
    display: block!important;
    width: 708px;
    background: #4c99d1;
    position: static;

    td {
        border-radius: 0;
    }
    .calendar-table {
        background-color: #4c99d1;
        .available:hover {
            background-color: #3dacdf;
        }
        .off {
            color: #7ab0db;
            background-color: transparent;
        }
        .in-range {
            background-color: #3dacdf !important;
        }
        .active {
            color: #3c58cc !important;
            background-color: #3dacdf;
            border: none !important;
        }
        thead th{
            border-bottom: none;
        }
    }
    .applyBtn{
        margin-top: 185px;
        margin-left: 44px;
    }

}
 .input-calendar-left{
     position: absolute !important;
     left: 600px;
     top: 50px;
     width: 140px;

}
.input-calendar-right{
    position: absolute !important;
    left: 600px;
    top: 110px;
    width: 140px;
}
.daterangepicker .calendar-table{
    border: none;
}
.daterangepicker  .input-mini{
    background-color: #5aa1d5 !important;
    width: 140px ;
}
.daterangepicker.opensright:after{
    left: auto;
    right: 10px;
    border-bottom: 6px solid #4c99d1;
}
.daterangepicker .input-mini.active{
    border: none;
    border-bottom: 1px solid #09507d;
}
.daterangepicker .input-mini{
    background-color: rgba(255,255,255,.2);
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.3);
    height: 40px
}
.warning-direction{
    color: #fff!important;
    font-size: 15px;
    font-weight: bold;
}
.modal-body{
    @extend %clearfix;
    .form-group{
        margin-bottom: 20px;
        &.password-group{
            .form-control{
                float: left!important;
                width: 50%!important;
            }
            @extend %clearfix;
        }
    }
    .form-control{
        float: none!important;
        width: 100%!important;
        margin: 0!important;
    }
    .form-body{
        padding: 0 30px;
        padding-bottom: 30px;
        .btn{
            width: 100% !important;
        }
    }
}
.register{
    margin-bottom: 0;
}
.login-footer{
    .lost-remember{
        display: inline-block;
        .checkbox-label{
            color: #fff!important;
            &:before{
                margin: -4px 10px 0 -25px !important;
                font-size: 13px;
                font-weight: 600;
            }
        }
        .checkbox-cont{
            margin-bottom: 5px;
        }
    }
    .btn-cont-login{
        display: inline-block;
        vertical-align: middle;
        width: 135px;
        margin-top: -29px;
        margin-left: 16px;
    }
}
.modal-head{
    padding: 20px 30px;
    .login-tab-controls{
        border-bottom: 1px solid rgba(255,255,255,.3);
        @extend %clearfix;
        a{
            font-size: 30px;
            color: rgba(255,255,255,.3);
            display: block;
            float: left;
            font-weight: 300;
            position: relative;
            &.active{
                color: #fff;
                &:before{
                    position: absolute;
                    content: "";
                    height: 1px;
                    background-color: #05ffed;
                    bottom:-1px;
                    display: block;
                    width: 100%;
                }
            }
            &:last-of-type{
                float: right;
            }
        }
    }
}
.most-popular-tab{
    .sidebar-ul{
        a{
            span{
                display: inline-block;
                &:first-of-type{
                    width: 50%;
                }
            }
            .ex-popular-arrow {
                display: inline-block;
                vertical-align: middle;
                opacity: .5;
                margin-right: 5px;
            }
            &:hover{
                .ex-popular-arrow{
                    opacity: 1;
                }
            }
        }

    }
}
.directions{
    a{
        color: rgba(255,255,255,.3);
        &.animated{
            color: rgba(255,255,255,1);
        }
    }
}

.col-8.about-descr.no-margin-descr {
    margin-top: 0;
}
.form-group{
    margin-bottom: 10px;
    .form-control{
        width: 100%;
        background-color: rgba(255,255,255,.1);
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgba(255,255,255,.3);
        &::placeholder{
            color: rgba(255,255,255,.3);
        }

    }
    @extend %clearfix
 }
.btn-default{
    width: 100%;
}
.contacts-wrap{
    width: 245px;
    padding-left: 30px;
    h1{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .mail-link{
        a{
            font-size: 15px;
        }
        margin-bottom: 10px;
    }
    .tel{
        .phone-number{
            font-size: 15px;
            color: #fff;
        }
    }
    .ex-mail,.ex-phone{
        &:before{
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            margin-right: 10px;
        }
    }
    .ex-mail{
        margin-right: 10px;
        font-size: 20px;
    }
    .ex-phone{
        margin-right: 5px;
    }
}
.form-wrap{
    margin-top: 45px;
    h2{
        margin-bottom: 15px;
    }
}
.advantages-item img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.about-insert{
    height: 110px!important;
}
