/* Barebones Compass layout styles
 *
 * General layout styles
 */

.layout-content {
    margin: 0;
}

/* Default layout container width
 *
 * NOTE: This should not be changed here. Change it in base/_variable.scss
 *
 * @see base/_variable.scss
 */
$layout-container-width: 940px !default;

.layout-container {
    width: $layout-container-width;
    margin: 0 auto;

    @extend %clearfix;
}

.layout-container-fluid {
    margin: 0 auto;

    @extend %clearfix;
}
.selected-left-part:after, .selected-right-part:before {
    top: 100%;
    margin-top: -1px;
    height: 1px;
    width: 10px;
    -webkit-transition: top .5s ease;
    transition: top .5s ease;
}
.dropdown-button{
    transition: background .3s linear !important;
    img{
        display: inline-block;
        vertical-align: middle;
        margin-top: -3px;
    }
    &:hover{
        color: #fff !important;
    }
    &:focus{
        color: #fff!important;
    }
}
.btn{
    &:hover{
        color: #fff;
    }
    &:active{
        color: #fff;
    }
    &:focus{
        color: #fff;
    }
}
.changed-position{
    position: static!important;
}
.descr-table{
    display: inline;
}
a{
    &:focus{
        outline: none!important;
      text-decoration: none!important;
    }
}
.main-tabs{
  margin-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
    [class^="ex-"]:before,
    [class*=" ex-"]:before{
        display: inline-block;
        font-size: 23px;
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 5px;
    }
  .main-tab{
    display: inline-block;
    margin-right: 30px;
    .link-text{
      border-bottom: 1px dotted #1ad9ff;
      font-size: 15px;
    }
    &:last-of-type{
      float: right;
      margin-right: 0;
    }
    a{
      &:focus{
        text-decoration: none!important;
      }
      &.active{
        color: #fff !important;
        border-bottom: none!important;
        .link-text{
          border-bottom: none!important;
        }
      }
    }
    &:hover{

    }
  }
  .notification-dropdown{
    position: relative;
  }
  .notif-drop-menu{
    width: 340px;
    background-color: #4c99d1;
    left: -223px;
    top: 160%;
    text-align: left;
    padding: 10px 0;
    padding-top: 7px;
    &:after {
      position: absolute;
      top: -6px;
      right: 40px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      border-bottom: 6px solid #4c99d1;
      content: '';
    }
    p{
      color: #fff;
      text-align: left;
      margin-bottom: 0;
      font-weight: 400;
      font-size: 13px;
    }
    .notif-head{
      border-bottom: 1px solid #67a8d8;
      padding: 10px 25px;
      p{
        margin-bottom: 10px;
      }
      .form-group{
        margin-bottom: 8px;
        .form-control{
          &::placeholder{
            color: rgba(255,255,255,.5);
          }
        }
      }
    }
    .notif-body{
      padding: 10px 25px;
      .btn-cont{
        margin-top: 10px;
        .btn{
          width: 100%;
        }
      }
    }
    .notif-inf{
      margin-bottom: 10px;
    }
    .form-control{
      width: 100%;
      background-color: rgba(255,255,255, .2);
      float: none;
      border-bottom: 1px solid rgba(255,255,255, .3);
    }
    .input-cont{
      width: 140px;
      display: inline-block;
    }
    .notif-descr{
      display: inline-block;
      max-width: 133px;
      margin-left: 10px;
      opacity: .4;
      span{
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
      }
    }
    .reserve-details{
      margin-top: 10px;
    }
    .dropdown-menu{
      &.open{

      }
    }
  }

}
#statistics-tab{
    width: 100%;
     padding-left: 35px;
      padding-right: 30px;
  .chart-cont{
    width: 100%;
    margin-top: 50px;
  }
}
canvas{

}

.calendar-dropdown-cont{
  position: relative;

}
.period-cont{
  margin-top: 30px;
  .course-changes-dropdown{
    display: block;
    .period-changes{
      display: block;
      float: right;
      .predifined-period{
        display: inline-block;
        margin-right: 10px;
        border-bottom: 1px dotted #1ad9ff;
        &.active{
          color: #fff;
          border-bottom: 1px dotted transparent;
        }
      }
      #calendar-drop-link{
        border-bottom: 1px dotted #1ad9ff;
        display: inline-block;
        &.active{
          color: #fff;
          border-bottom: 1px dotted transparent;
        }
      }
    }
    .calendar-dropdown-cont{
      display: inline-block;
    }

  }
}
.statistics-option-dropdown{
  display: inline-block;
  position: relative;
  #statistics-option-drop-link{
    font-size: 15px;
  }
  .dropdown-arrow{
    margin-left:5px;
  }
}
.statistics-option-dropdown-menu{
  width: 260px;
  background-color: #4c99d1;
  top: 25px;
  padding: 20px;
  &:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #4c99d1;
    content: '';
  }
  li{
    height: auto;
    text-align: left;
    margin-bottom: 10px;
    &:last-of-type{
      margin-bottom: 0;
    }
    a{
      color: #fff;
      font-size: 13px;
    }
    &:hover{
      background: transparent!important;
    }
  }
}
.notif-timing{
  margin-top: 10px;
  span{
    font-size: 13px;
  }
}
.radios-cont{
  padding-top: 10px;
  input[type="radio"]:checked + label{
   color: #fff;
  }
  label{
    width: 49%;
    color: #9cc2e3;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 13px;
  }
  input[type="radio"]:checked + label:before {
    border-color: transparent ;
    color: #5bf9ff;
    box-shadow: 0px 0 0px 2px #5bf9ff , 0 0 0 7px #5bf9ff  inset;
  }
}
.input-calendar-left, .input-calendar-right {
  position: absolute!important;
  left: 540px !important;
  width: 140px;
}
.daterangepicker-differences {
  padding: 10px;
  display: block!important;
  width: 708px !important;
  background: #4c99d1;
  position: static;
}
.daterangepicker-differences .applyBtn {
  margin-top: 185px;
  margin-left: 44px;
}
.footer-popel{
  span{
    color: #fff;
  }
  img{
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
  }
}
.dropdown-menu>li>a {
  display: block;
  padding: 0;
  height: 100%;
  line-height: 38px;
  clear: both;
  font-weight: 400;
  color: #fff;
  font-weight: bold;
  padding-left: 13px;
  text-align: left;
  white-space: nowrap;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}
.form-group{
  margin-bottom: 0;
}
.succes-notif-pr{
  text-align: center!important;
  font-size: 15px!important;
  font-weight: bold!important;
}
.main-tabs-real{
  display: inline-block;
}
.collapse-header{
  color: #cfd6e6;
  display: inline;
  &.collapsed{
    color: #1ad9ff;
    border-bottom:  1px dashed #17a3c7;
  }
}
.inactive{
  a{
    color: rgba(255, 255, 255, 0.3) !important;
  }
  pointer-events: none;
}
.exchanger-edit{
  display: none;
}
.my-exchanger{
  display: block;
  opacity: 1;
  transition: all .5s ease;
  &.fade-cabin{
    opacity: 0;
  }
}
.user-drop-cont{
  float: right;
  margin-top: 30px;
  margin-right: 35px;
  position: relative;
}
.user-drop-menu{
  width: 225px;
  background-color: #4c99d1;
  padding: 20px;
  left: -155px;
  top: 30px;
  &:after{
    position: absolute;
    top: -6px;
    right: 20px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #4c99d1;
    content: '';
  }
  a{
    display: block;
    color: #fff!important;
    margin-bottom: 10px;
    text-align: left;
    &:last-of-type{
      margin-bottom: 0;
    }
    &:hover{
      color: rgba(255,255,255,0.5)!important;
    }
  }
}
a{
  &:focus{
    color:#5bf9ff!important;
  }
}
.layout-content.cabinet #exchanger-tab-next h2 {
  margin: 20px 0 20px 0!important;
}
.cabinet-footer{
  padding-left: 0!important;
}