/* Barebones Compass layout styles
 *
 * Content styles
 */

.layout-content {
 position: relative;
    height: 100vh;
    min-height: 640px;
    z-index: 900;
    overflow: hidden;
}

.layout-aside + .layout-content {
    margin-left: 340px;
}
