@charset "UTF-8";

@font-face {
  font-family: "exchange";
  src:url("fonts/exchange.eot");
  src:url("fonts/exchange.eot?#iefix") format("embedded-opentype"),
    url("fonts/exchange.woff") format("woff"),
    url("fonts/exchange.ttf") format("truetype"),
    url("fonts/exchange.svg#exchange") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "exchange" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ex-"]:before,
[class*=" ex-"]:before {
  font-family: "exchange" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ex-statistics:before {
  content: "\61";
}
.ex-arrow:before {
  content: "\62";
}
.ex-rate:before {
  content: "\63";
}
.ex-notifications:before {
  content: "\64";
}
.ex-popular-arrow:before {
  content: "\65";
}
.ex-cc:before {
  content: "\66";
}
.ex-tag-comment:before {
  content: "\67";
}
.ex-person:before {
  content: "\68";
}
.ex-check:before {
  content: "\69";
}
.ex-mail:before {
  content: "\6a";
}
.ex-phone:before {
  content: "\6b";
}
