/* Barebones Compass form styles
 *
 * Form button styles
 */






.btn {
    margin: 0;
  outline: 0;
  border: 0;
  border-radius: 4px;
  width: 142px;
  height: 42px;
  user-select: none;
  background:linear-gradient(to bottom, #08a7c9 0%, #015ea2 100% );
  display: inline-block;
   vertical-align: middle;
   font-family: Open Sans;
   color: #fff;
    font-weight: bold;
  &:focus{
    outline: none !important;
  }
 }

.btn:hover{
      background:linear-gradient(to bottom, #2cc9ea  0%,  #1c72b6 100% );

}
.btn:active{
    background:linear-gradient(to bottom, #085099   0%,  #0d82b2  100% );
    border: 1px solid #0d82b2; 
}

.dropdown-button {
    width: 54px;
    height: 40px;
    margin: 0;
    outline: 0;
    border: 0;
    border-radius: 4px;
    background: linear-gradient(to bottom, #14244e  0%, #0b0b2d  100% );
    border-top: 1px solid #16476b; 
    color: #fff;
    
}
.dropdown-button:hover{
    background: linear-gradient(to bottom, #172764   0%, #0c0c34   100% )!important;
    border-top: 1px solid #19497d ;

}
.dropdown-button:active{
    background: linear-gradient(to bottom, #0c1c41    0%, #0f0f4e    100% )!important;
    outline: none;
    user-select: none;
    border: none;
    border-top: #0f4060; 
}
.dropdown-button-nav{
  width: 40px;
  height: 40px;
}
.icon-burger{
  margin: 8px 6px;
}
.dropdown-nav{
  margin-left: 0 !important;
  margin-top: 3px !important;
  display: none;
}
.dropdown-menu{
    padding: 0;
    margin:0;
    
    text-align: center;
    min-width: 54px !important;
    width: 54px;
    background-color: #0e0e34;
    color: #fff;
}
.dropdown-menu{
    li{
    margin: 0;
    text-align: center;
    height: 42px;
    }
    li:hover{
         background: linear-gradient(to bottom, #172764   0%, #0c0c34   100% )!important;
    }
}
.dropdown-menu-nav{
  width: 130px;
  li{
    width: 100%;
    display: block !important;


  }
}


.btn-tour{
    float: right;
    margin-left: 20px;
   
    border: none;
    border-radius: 4px;
    outline: none;
    user-select: none;
    background: linear-gradient(to bottom, #c35189     0%, #7d0565     100% )!important;
    width: 132px;
    height: 40px;
    user-select: none;
    display: inline-block;
    &:hover{
         background: linear-gradient(to bottom, #d75a9c 0%, #a9188c  100%)!important;
    }
    &:active{
        background: linear-gradient(to bottom, #750b60   0%, #a43966    100%)!important;
        border: 1px solid #8c2275; 
    }
   
}
.btn-tour-primary{
    margin: 30px 30px !important;
}
.text-inserts .btn-tour {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px ;
    font-weight: 700;
}

@media screen and (max-width: 1182px) {
   .btn-tour{
    margin-left: 0;
    float: none;
     width: 200px;
     height: auto;
     margin-top:35px;

  }
}

.register-button{
    width: auto !important;
    padding: 5px 10px;
    margin-top: -15px !important;
    margin-right: 82px !important;
    margin-bottom: 40px !important;
   
}



.btn-block {
    display: block;
    width: 100%;

    & + & {
        margin-top: $base-margin / 2;
    }
}

.btn-transparent {
    border: 1px solid #555;
    background: transparent;
    outline: 0;
    text-decoration: none;
    color: #555;
}

.btn-disabled {
    background: #ccc;
    outline: 0;
    text-decoration: none;

    &:hover,
    &:active{
        background: #ccc;
    }
}

@media screen and (max-width: 1074px){
  .btn-tour-primary{
    margin-top: 30px !important;
    margin-right: 40px !important;
    margin-left: 0 !important;

  }
}
.dropdown-button {
  &:focus{
    outline: none !important;
  }
}