/* Barebones Compass form styles
 *
 * Form field styles
 */

/*
 * Local variables for form elements
 */

$label-color: #555;


/*
 * Styles starts here
 */

.form-group {
    margin-bottom: $base-margin;
}

label {
    margin-bottom: $base-margin / 4;
    font-family: Open Sans;
    font-size: 13px;

    display: inline-block;
}

.form-control {
    margin: 0;
    outline: 0;
    border: 1px solid #d7d7d7;
    padding: 4px 9px;

    transition: border-color .15s linear;

    display: block;
    width: 100%;
    height: 30px;

    &:focus {
        border-color: #177ee6;
    }

    &::placeholder {
        color: #fff;
    }
}

select.form-control {
    // Compensate for default select text paddings
    padding-left: 4px;
    padding-right: 4px;
}

textarea.form-control {
    height: auto;
    min-width: 100%;
    min-height: 100px;
}

/*
 * Standart input elements
 */

// .radio,
// .checkbox {
//     margin: ($base-margin / 2) 0;
//     padding-left: 20px;

//     display: block;

//     label {
//         display: inline;
//     }
// }

// .radio input[type="radio"],
// .checkbox input[type="checkbox"] {
//     margin-left: -20px;

//     float: left;
// }


/*
 * Custom input elements
 */

input[type="radio"],
input[type="checkbox"],
input[type="file"] {
    display: none;
}


/*
 * Custom radio button
 */

.radio-label {
    padding-left: 25px;
    color: $label-color;
    display: inline-block;
    width: auto;
    &:before {
        content: "";
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
        margin: -1px 10px 0 -25px;
        border-radius: 50%;
        border: 2px solid transparent;
        box-shadow: 0px 0 0px 2px #1473a0, 0 0 0 7px transparent inset;
        transition: box-shadow .15s linear;
    }
    &:hover {
        &:before {
            box-shadow: 0px 0 0px 2px #5bf9ff , 0 0 0 7px transparent inset;
        }
    }
}

input[type="radio"]:checked + label:before {
    border-color: transparent;
    box-shadow: 0px 0 0px 2px #1473a0 , 0 0 0 7px #1473a0 inset;
}

input[type="radio"]:checked:hover + label:before {
    border-color: transparent ;
    color: #5bf9ff;
    box-shadow: 0px 0 0px 2px #5bf9ff , 0 0 0 7px #5bf9ff  inset;
}

/*
 * Custom checkbox
 */

.checkbox-label {
    padding-left: 25px;
    color: $label-color;
    display: inline-block;
    width: auto;
    position: relative;
    &:before {
        position: absolute;
        margin: -4px 10px 0 -25px !important;
        font-size: 13px;
        top: 4px;
        padding: 0px;
        text-align: center;
        padding-bottom: 0px;
        content: "";
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #1473a0 ;
        transition: all .6s ease;
    }
    &:hover {
        &:before {
            border-color: #5bf9ff;
        }
    }
}

input[type="checkbox"]:checked + .checkbox-label:before {
    font-family: "exchange";
    content: "\69";
    border: 1px solid transparent;
    color: #1473a0;
    font-size: 13px;
}
input[type="checkbox"]:checked:hover + .checkbox-label:before {
    background-color: transparent;
    color:#5bf9ff;

}


/*
 * Toggle
 */

.toggle-label {
    padding-left: 25px;
    color: $label-color;
    display: inline-block;
    width: auto;
    position: relative;
    cursor: pointer;
    &:before {
        content: "";
        width: 25px;
        height: 2px;
        display: inline-block;
        vertical-align: middle;
        margin: -5px 10px 0 -25px;
        background: #ccc;
        transition: all .15s linear;
    }
    &:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background: #fff;
        top: 5px;
        left: 0;
        border: 2px solid #ccc;
        transition: border-color .15s linear, left .1s linear;
    }
}

input[type="checkbox"]:checked + .toggle-label {
    &:before {
        background: none;
    }
    &:after {
        border-color: none;
        
    }
}
input[type="text"],input[type="password"],input[type="email"], input[type="url"], .form-control{
    border: none;
    outline: none;
    background-color: #20204f;
   
    height: 40px;
    width: 125px;
    padding: 8px 15px;
    border-bottom: 1px solid #47476e; 

    transition: all .5s linear;
    color: #fff !important;
    float: left;
    margin: 0;
    &:hover{
      border-bottom: 1px solid #09507d ;                            
    }
    &:focus{
        border-bottom: 1px solid #09507d ; 
    }

}
.directions input[placeholder]{
    color: #727288; 
}
.modal-input input::-webkit-input-placeholder{
  color: #fff;
}
.modal-input input:-moz-placeholder{
  color: #fff;
}
.modal-input input:-ms-input-placeholder{
  color: #fff;
}
 input[type="text"] .invalid-input {
    background-color: #1b0c46 !important;
    color: #bc4b53 !important;
    border-bottom: 1px solid #5e2a49 !important; 
}
.inputs{
    position: relative;
    margin-bottom: 50px;
    position: relative;
    input[type="text"]{
        background-color: rgba(255,255,255,0.08);
        position: relative;
    }
    &:before{
        display: block;
        position: absolute;
        content: "";
        background-color: #141428;
        left: 122px;
        top: -1px;
        z-index: 111;
        height: 21px;
        width: 1px;
        -webkit-transform: rotate(-24deg);
        transform: rotate(-24deg);
    }
    &:after {
        display: block;
        position: absolute;
        content: "";
        background-color: #141428;
        left: 122px;
        top: 18px;
        z-index: 111;
        height: 22px;
        width: 1px;
        -webkit-transform: rotate(24deg);
        transform: rotate(24deg);
    }
    }
.arrow-input{
    height: 40px;
    width: auto;
    position: absolute;
    left: 125px;
    
}

.first-input{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.second-input{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding:8px 20px !important;
}


.modal-input{
    width: 80% !important;
    background-color: #5aa1d5 !important;
    border-bottom: 1px solid #77b1dc !important;
    margin: 10px 10% !important;
    border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    &::placeholder{
        color: #95cdfa;
        font-size: 12px;
        
    }
    
    
}

.floated{
    float: left !important;
    margin: 10px 0 !important;
    margin-left:10% !important;
    width: 41% !important;
    border-bottom-right-radius: 0px;
    
    
    
    &:last-child{
        float: left !important;
        width: 39% !important;
        margin: 10px 0 !important;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 5px;
        border-left: 1px solid #3f91c9 ;
    }
}
.capcha{
    float: left;
    margin-left: 10%;
    margin-top: 10px;
    width: 38%;
    height: 40px;
}
.floated-capcha{
    width: 39% !important;
    margin: 10px 0 10px 12px !important;
}
.register li.tab2{
    border-bottom: #70adda  1px solid;
    padding: none;
    display: inline-block;
    float: left;
    font-family: Open Sans;
}