

ul{
    padding: 0 !important;
}
.col-8{
    width: 100% !important;
}

.logo{
    float: left;
    
}
.dropdown{
    float: left;
}
.logo {
    border-bottom: 1px solid #14142f; 
    span{
        color: #17b5e6; 
    }    
    
     h2{
     margin: 25px 0;
    }
}
.dropdown{
    
}
.purple-line{
    top:28px !important;
    left: 0 ;
}
.tabs {
    margin: 0 auto !important;
}
.less-padding{
    padding: 0 0 !important;
}
h5{
    width: 30px !important;
    margin: 0 !important;
}
.table{
    margin: 20px 30px;
}
.navbar{
    ul{
        li{
            display: inline-block;
            float: left;
            margin-right: 30px;
        &:last-child{
            margin-right: 0 !important;
        }
            a{
                color: #6e6d8b; 
                &:hover{
                    color: #fff;
                }
                &:active{
                    color: #fff;
                }
            }
        }
    }
}