.modal-content{
    width: 360px;
    height: 400px;
    background: red;
}
.modal-backdrop{
    z-index: 1000 !important;
  
}
body.modal-open .layout-container-fluid{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}