.row > .col-3 {
  
}
.button-container{
    margin: 15px;

}

.layout-content{
    background-color: #0d0d40; 
    color: #fff;

}
.btn{
    margin: 0px;
    

}
.inline-checkbox {
    margin: 0 0 10px;
    min-height: 20px;
}
.dropdown{
    position: relative;
    margin-top: 20px;
    margin-left: 107px;
    padding: 0;
    height: auto;
    

}