/* Barebones Compass sprite config
 *
 * This file contains Compass' sprite auto-generation feature configuration
 *
 * @see http://compass-style.org/reference/compass/helpers/sprites/
 * @see http://compass-style.org/help/tutorials/spriting/
 * @see http://compass-style.org/help/tutorials/spriting/customization-options/
 * @see http://compass-style.org/help/tutorials/spriting/magic-selectors/
 */

/* Default sprite settings
 */
$sprite-layout-default: vertical !default;
$sprite-spacing-default: 1px !default;

/* Icon sprites
 *
 * Each icon gets its own class. This allows you to use any available icon in
 * any context
 *
 * To add an icon, place it in the src/sprites/icon directory
 */
$icon-layout: $sprite-layout-default !default;
$icon-spacing: $sprite-spacing-default !default;
$icon-sprite-dimensions: true !default;
$icon-sprite-base-class: ".icon" !default;

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
}

@import "icon/*.png";
@include all-icon-sprites;

/* Misc sprite
 *
 * A misc sprite contains images used in very specific circumstances, like a
 * logo. They don't get their own class, but a mixin
 *
 * To add a misc image, place it in the src/sprites/misc directory and then
 * use the sprite-misc() mixin:
 *
 *     .my-misc-image {
 *         sprite-misc(my-misc-image);
 *     }
 *
 * @see base/mixin/_sprite.scss
 */
$misc-layout: $sprite-layout-default !default;
$misc-spacing: $sprite-spacing-default !default;
$misc-sprite-dimensions: true !default;

@import "misc/*.png";

/* This is used inside base/mixin/_sprite.scss
 */
$sprite-misc-map: sprite-map('misc/*.png');
